
 @include media-sm {
   //  600px
   body {
      div.omg-text {
         height: 25vh;
         width: 65vw;
         bottom: 250px;
         left: 187px;
   
         p {
            font-size: 1.3rem;
         }
      }
   }
 }
 
 @include media-md {
   //  768px
   body {
      div.omg-text {
         width: 55vw;
         left: 180px;

         p {
            font-size: 1.5rem;
         }
      }
   }
 }

 @include media-lg {
   //  1024
   .body {
      background: url('../images/laura.jpg') left bottom;

      div.omg-text {
         width: 275px;
         height: 205px;
         position: absolute;
         bottom: 100px;
         left: 510px;
         transform: rotate(-2deg);
         font-size: 1rem;

         .music-icon {
            &:hover {
               color: whitesmoke;
               @include transition-ease;
            }
         }
      }

      // .social-icons {
      //    display: flex;
      //    flex-direction: row;
      //    position: absolute;
      //    bottom: 250px;
      //    left: 525px;
      //    transform: rotate(-2deg);

      //    .music-icon {
      //       padding-right: 20px;
      //       font-size: 1.6rem;

            
         }
 }



