
 @include media-sm {
   //  600px
   body {
      div.omg-text {
         height: 25vh;
         width: 65vw;
         bottom: 250px;
         left: 187px;
   
         p {
            font-size: 1.3rem;
         }
      }
   }
 }
 
 @include media-md {
   //  768px
   body {
      div.omg-text {
         width: 55vw;
         left: 180px;

         p {
            font-size: 1.5rem;
         }
      }
   }
 }

 @include media-lg {
   .body {
      background: url('../images/laura.jpg') left bottom;

      .omg-text {
         display: none;
      }

      .social-icons {
         display: flex;
         flex-direction: row;
         position: absolute;
         bottom: 200px;
         left: 525px;

         .music-icon {
            padding-right: 20px;
            font-size: 1.5rem;

            &:hover {
               color: whitesmoke;
               @include transition-ease;
            }
         }
      }
   }
 }



