@import 'config';
@import 'responsive';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   color: $primary-color;
   font-family: 'Tomorrow', sans-serif;
   font-size: 1rem;
   height: 100vh;
   overflow: hidden;
   background:
      linear-gradient(
         to right,
         rgba(#000, 0.1),
         rgba(#000, 0.3)
      ),
      url('../images/hand-blank.jpg') center top;
   background-size: cover;

   .omg-text {
      width: 70vw;
      height: 25vh;
      text-decoration: none;
      text-align: justify;
      position: absolute;
      top: 50%;
      left: 15%;
      transform: rotate(6deg);
      overflow: hidden;
      // display: none;
   }

   // .social-icons {
   //    position: absolute;
   //    top: 393px;
   //    left: 40px;
   //    transform: rotate(5deg);

   //    // .fa-spotify {
   //    //    padding-right: 3px;
   //    // }

   //    // .fa-apple {
   //    //    padding-right: 3px;
   //    // }
   // }
}

a {
   text-decoration: none;
}

.music-icon {
   color: $primary-color;
}