@import 'config';
@import 'responsive';

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   color: $primary-color;
   font-family: 'Tomorrow', sans-serif;
   font-size: 0.9rem;
   height: 100vh;
   overflow: hidden;
   background:
      linear-gradient(
         to right,
         rgba(#000, 0.1),
         rgba(#000, 0.3)
      ),
      url('../images/hand-blank.jpg') center top;
   background-size: cover;

   .omg-text {
      width: 70vw;
      height: 20vh;
      text-decoration: none;
      text-align: justify;
      position: absolute;
      top: 57%;
      left: 15%;
      transform: rotate(6deg);
      overflow: hidden;
   }
}

a {
   text-decoration: none;
}

.music-icon {
   color: $primary-color;
}